server:
  name: "Capstone Project FPT"
  port: 8080
  mode: "dev"
jwt:
  secret: "capstone-project-fpt"
  refreshSecret: "capstone-project-fpt-refresh"
  expiration: 86400 # 1 day
  refreshExpiration: 604800 # 1 week
db:
  host: localhost
  port: 5433
  username: postgres
  password: postgres
  dbname: postgres
  sslmode: disable
  timezone: "utc"
  maxIdleConns: 10
  maxOpenConns: 100
  connMaxLifetime: 3600
logger:
  logLevel: debug
  fileLogName: "./storages/logs/dev.log"
  MaxSize:    500
  MaxBackups: 3
  MaxAge:     28
  Compress:   true
redis:
  addr: localhost:6380
  password: ""
  db: 0
  poolSize: 10 