server:
  port: 8080
  mode: "dev"
db:
  host: localhost
  port: 5432
  username: postgres
  password: postgres
  dbname: postgres
  sslmode: disable
  timezone: "utc"
  maxIdleConns: 10
  maxOpenConns: 100
  connMaxLifetime: 3600
logger:
  logLevel: debug
  fileLogName: "./storages/logs/dev.log"
  MaxSize:    500
  MaxBackups: 3
  MaxAge:     28
  Compress:   true
redis:
  addr: localhost:6380
  password: ""
  db: 0
  poolSize: 10 